{% extends 'index.html' %}

{% block title %}
    <title>Decharge</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-inner">
            <div
              class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
            >
                <div>
                    <h3 class="fw-bold mb-3">Liste des décharges</h3>
                </div>
                <div class="ms-md-auto py-2 py-md-0">
                    <a href="/decharge/add" class="btn btn-primary btn-round">Ajouter une décharge</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Décharges sauvegardées</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table
                                    id="basic-datatables"
                                    class="display table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Usine</th>
                                            <th>Véhicule</th>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Opérations</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Usine</th>
                                            <th>Véhicule</th>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Opérations</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for decharge in decharges.liste_decharge %}
                                            <tr>
                                                <td>{{ decharge.JMA }}</td>
                                                <td>{{ decharge.nom_usine }}</td>
                                                <td>{{ decharge.num_vehicule }} - {{ decharge.poid_max }}</td>
                                                <td>{{ decharge.libelle_produit }}</td>
                                                <td>{{ decharge.quantite }}</td>
                                                <td>
                                                    <a
                                                        type="button"
                                                        class="btn btn-icon btn-round btn-primary"
                                                        href="{{ '/decharge/edit?id='}}{{ decharge.num_vehicule}}*{{ decharge.num_usine}}*{{ decharge.num_produit}}*{{ decharge.JMA}}">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <a
                                                        type="button"
                                                        class="btn btn-icon btn-round btn-danger"
                                                        href="{{ '/decharge/delete?id='}}{{ decharge.num_vehicule}}*{{ decharge.num_usine}}*{{ decharge.num_produit}}*{{ decharge.JMA}}">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}