{% extends 'layout.html' %}

{% block title %}
    <title>Etat des véhicules</title>
{% endblock %}

{% block body %}
    <h3>L'Etat</h3>
    <br><br>

    <h1>L'Etat</h1>
    <form method="get" action="/valid_etat_vehicule" >

        <h1>Par véhicule</h1>
        {% for vehicule in vehicules %}
            <label for="vehicule{{ vehicule.num_vehicule }}">{{ vehicule.num_vehicule}}</label>
            <input id="vehicule{{ vehicule.num_vehicule }}" type="checkbox" name="vehicule{{ vehicule_num_vehicule }}"><br>
        {% endfor %}
        <input type="submit" value="Valider" name="Valider" >
    </form>

     <form method="get" action="/valid_etat_vehicule" >

        <h1>Par type de véhicule</h1>
        {% for type_vehicule in type_vehicules %}
            <label for="type_vehicule{{ type_vehicule.num_type }}">{{ type_vehicule.libelle_type}}</label>
            <input id="type_vehicule{{ type_vehicule.num_type }}" type="checkbox" name="type_vehicule{{ type_vehicule.libelle_type }}"><br>
        {% endfor %}
        <input type="submit" value="Valider" name="Valider" >
    </form>
     <form method="get" action="/valid_etat_vehicule" >

        <h1>Par marque</h1>
        {% for marque in marques %}
            <label for="marque{{ marque.num_marque }}">{{ marque.libelle_marque}}</label>
            <input id="marque{{ marque.num_marque }}" type="checkbox" name="marque{{ marque.libelle_marque }}"><br>
        {% endfor %}
        <input type="submit" value="Valider" name="Valider" >
    </form>

    <tbody>
        {% if vehicule | length >= 1 %}

        <h3>Information</h3>
            <div>
                <p>là il faudrait mettre un truc qui compte avec des select et count... genre combien il y a de véhicule de tel type ou de tel marque ....</p>

                <div class="info_box">
                       <p>Numéro du véhicule: {{ vehicule.num_vehicule }}</p>

                </div>
                <div class="info_box">
                     <p>Type: {{ vehicule.libelle_type }}</p>
                     <p>Marque: {{ vehicule.libelle_marque }}</p>
                     <p>Poids maximal: {{ vehicule.poid_max }}</p>
                    <p>Date d'achat: {{  vehicule.date_achat }}</p>
                </div>
                <hr>


            </div>
            {% endfor %}
        {% else %}
            <tr>
                <td>
                    pas de type de vehicule
                </td>
            </tr>
        {% endif %}
        </tbody>

{% endblock %}