{% extends 'index.html' %}

{% block title %}
    <title>Modification d'une décharge</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="/decharge/edit">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Modification d'une décharge</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="num_vehicule">Véhicule (Numéro / Poids max / Date d'achat)</label>
                                            <select
                                                class="form-select"
                                                id="num_vehicule"
                                                name="num_vehicule"
                                                required
                                            >
                                                {% if vehicules %}
                                                    <option value="">Sélectionner une valeur</option>
                                                    {% for vehicule in vehicules %}
                                                        <option
                                                                 {% if previous_data and previous_data.vehicule == vehicule.id %}
                                                                     selected="selected"
                                                                {% endif %}
                                                                value="{{vehicule.id}}">
                                                            {{ vehicule.id }} / {{ vehicule.poids }} / {{ vehicule.date_achat }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="num_usine">Usine (Nom / adresse)</label>
                                            <select
                                                class="form-select"
                                                id="num_usine"
                                                name="num_usine"
                                                required
                                            >
                                                {% if usines %}
                                                    <option value="">Sélectionner une valeur</option>
                                                    {% for usine in usines %}
                                                        <option
                                                                {% if previous_data
                                                                     and previous_data.usine == usine.id %}
                                                                     selected="selected"
                                                                {% endif %}
                                                                value="{{usine.id}}">
                                                            {{ usine.nom }} / {{ usine.adresse }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="num_produit">Libelle produit</label>
                                            <select
                                                class="form-select"
                                                id="num_produit"
                                                name="num_produit"
                                                required
                                            >
                                                {% if produits %}
                                                    <option value="">Sélectionner une valeur</option>
                                                    {% for produit in produits %}
                                                        <option
                                                            {% if previous_data
                                                                and previous_data.produit == produit.id %}
                                                              selected="selected"
                                                            {% endif %}
                                                            value="{{produit.id}}">
                                                            {{ produit.libelle }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="quantite">Quantité</label>
                                            <div class="input-group mb-3">
                                                <input
                                                    type="number"
                                                    class="form-control form-control"
                                                    id="quantite"
                                                    name="quantite"
                                                    min="0"
                                                    required
                                                    {% if previous_data %}
                                                      value="{{ previous_data.quantite }}"
                                                    {% endif %}
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control form-control"
                                        hidden=""
                                        name="id"
                                        {% if previous_data %}
                                          value="{{ previous_data.id}}"
                                        {% endif %}
                                    />
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success" type="submit">Sauvegarder</button>
                                <a class="btn btn-danger" href="/decharge/show">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}