{% extends 'layout.html' %}

{% block title %}
    <title>Benne</title>
{% endblock %}

{% block body %}
    <h3>Ajouter un vehicule</h3>
    <form method="post" action="/vehicule/add">
        <fieldset>
            <legend> Créer un vehicule</legend>

            <label for="type_vehicule">Le type de véhicule</label><br>
            <select name="type_vehicule" required>
                <option value="">Sélectionner un type</option>
                {% for type_vehicule in type_vehicule %}
                    <option value="{{ type_vehicule.num_type }}"> {{ type_vehicule.libelle_type }}</option>
                {% endfor %}
            </select><br>

            <label for="marque">La marque</label><br>
            <select name="marque" required>
                <option value="">Sélectionner une marque</option>
                {% for marque in marque %}
                    <option value="{{ marque.num_marque}}"> {{ marque.libelle_marque }}</option>
                {% endfor %}

            </select><br>

            <label for="poid_max">Le poids maximal</label><br>
            <input id="poid_max" type="number" name="poid_max" value="" required><br>
            <label for="date_achat">La date d'achat</label><br>
            <input id="date_achat" type="date" name="date_achat" value="" required><br>

            <input type="submit" value="Valider" name="Valider">
        </fieldset>
    </form>
{% endblock %}