<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="/" class="logo" style="color: white;">
          Syntyche
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <p>Tableau de bord</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Sections</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#benne">
                        <i class="fas fa-layer-group"></i>
                        <p>Benne</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="benne">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/benne/show">
                                    <span class="sub-item">Liste des Bennes</span>
                                </a>
                            </li>
                            <li>
                                <a href="/benne/etat">
                                    <span class="sub-item">Etats</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#passage">
                        <i class="fas fa-layer-group"></i>
                        <p>Passage</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="passage">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/passage/show">
                                    <span class="sub-item">Liste des Passages</span>
                                </a>
                            </li>
                            <li>
                                <a href="/passage/etat">
                                    <span class="sub-item">Etats</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#decharge">
                        <i class="fas fa-layer-group"></i>
                        <p>Decharge</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="decharge">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/decharge/show">
                                    <span class="sub-item">Liste des Decharges</span>
                                </a>
                            </li>
                            <li>
                                <a href="/decharge/etat">
                                    <span class="sub-item">Etats</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#vehicule">
                        <i class="fas fa-layer-group"></i>
                        <p>Vehicule</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="vehicule">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/vehicule/show">
                                    <span class="sub-item">Liste des Vehicules</span>
                                </a>
                            </li>
                            <li>
                                <a href="/vehicule/etat">
                                    <span class="sub-item">Etats</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->